# Node.js dependencies
node_modules/
npm-debug.log*
yarn-error.log
pnpm-debug.log*
.env
.env.local
.env.development
.env.production
.env.test

# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.log

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/
*.swp
*.swo

# Build directories
dist/
build/
.next/
out/
.cache/

# Babel & TypeScript
*.tsbuildinfo
.nyc_output/

# Database files
/data/db/
dump/

# Coverage reports
coverage/

# Miscellaneous
*.pem
*.crt
*.key

# React-specific
public/*.cache
public/static/
